body 
{
    display: grid;
    /*Seuraavissa grid-alkuisissa on tupla-arvot siksi, että ne määrittävät kaksi riviä ja kaksi saraketta (EI SIIS [x, y] -tyylisesti)*/ 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0; /*Poistaa tyhjät välit ruudukon reunoilta.*/
}

.swot 
{
    height: 49vh;
    width: 49vh;
    display: flex;
}